body {
  background-color: grey;
}

h1 {
  margin: 15px;
  font-size: 2em;
}

p {
  margin: 15px;
  font-size: 1em;
  line-height: 1em;
}

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 450px) {

}
